{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <title>Rango</title>
{% endblock %}


{% block body_block %}
    <div>
        <strong>{{boldmessage}}</strong><br />
    </div>
    <div>
        <img src="{% static "images/me.jpg" %}"
             alt="coooool" />
    </div>
    <div>
        <img src="/media/cat.jpg" alt="test" />
    </div>
    <p> visits: {{ visits }}</p>
    <button class="btn btn-primary" id="about-btn">
        Click Me - I'm JavaScript on Speed</button>
    <p>This is a example</p>
    <p>This is another example</p>
    <div id="msg">Hello - I'm here for a JQuery Example too</div>
 {% endblock %}